.menu {
  height: 100vh;
  background-color: black;
  position: fixed;
  right: -65px;
  top: -64px;
  color:#fff;
  z-index: 3;
}

.body {
  box-sizing: border-box;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: column;
  font-size: 33px;
  gap: 12px;
  margin-top: 80px;
}

.header {
  color: rgb(153, 153, 153);
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 40px;
}

.body a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .menu {
    font-size: 4rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 450px) {

  .menu {
    left: 0;
  }

  .body{
    padding-left: 20px;
  }

  .nav{
    font-size: 45px;
  }
}