.container {
  padding: 80px 10vw;
}

.list_intro h3 {
  font-size: 38px;
  color: rgb(115, 115, 115);
  /* color: #000; */
  text-decoration: underline;
  text-decoration-color: #000085;
}

.content {
  padding-top: 10%;
}
