.wrapper {
  margin-top: 150px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vw;
  position: relative;
  /* top: 380px; */
}

.line {
  margin-top: 50px;
  width: 90%;
}

.description p:nth-child(1) {
  display: flex;
  width: 100%;
  gap: 30px;
  font-size: 35px;
  color: rgb(115, 115, 115);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #000085;
}

.description p:nth-child(2) {
  color: #000;
}

.subtext {
  color: #000085;
  text-align: center;
  margin: 50px 0;
}

@media only screen and (max-width: 450px) {
  .wrapper {
    margin-top: 20px;
  }

  .description p:nth-child(1) {
    font-size: 24px;
  }

  .subtext {
    padding: 30px;
  }
}
