@font-face {
  font-family: "dream";
  src: url("../../public/fonts/RintBasic-Regular.ttf");
  font-weight: 400; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

.header {
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
}

.logoTxt{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #000;
  background-color: #000;
  padding: 7px;
  text-decoration: none;
  border-radius: 100px;
  letter-spacing: 5px;
  font-family: dream;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000085;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  width: 100%;
}

.burger::after {
  top: -5px;
}

.burger::before {
  top: 5px;
}

.burger:after {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}

.burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}

.burgerActive ::after {
  transform: rotate(45deg);
  top: -1px;
}

.burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}

@media only screen and (max-width: 850px) {
  .header {
    top: 0;
    background-color: #fff;
  }

  .button {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    padding: 5px;
    background-color: #fff;
  }
  
  .header img{
    width: 90px;
  }

  .button {
    width: 50px;
    height: 50px;
  }

  .logoTxt{
    font-size: 10px;
  }
}
