.header {
  padding: 30px;
  position: fixed;
  right: 0;
  top: 2%;
  z-index: 4;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000085;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  width: 100%;
}

.burger::after {
  top: -5px;
}

.burger::before {
  top: 5px;
}

.burger:after {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}

.burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}

.burgerActive ::after {
  transform: rotate(45deg);
  top: -1px;
}

.burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}

@media only screen and (max-width: 850px) {
  .header {
    top: 0;
  }

  .button {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    top: -1%;
    right: -3%;
  }

  .button {
    width: 50px;
    height: 50px;
  }
}
